{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" />
    <title>Todo Application</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-2">
      <a class="navbar-brand" href="#">TODO Application</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarColor01"
        aria-controls="navbarColor01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"></li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="text"
            placeholder="Search"
          />
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>
    {% block content %}

    <section>
      {% if not todos %}
      <center>
        <pre> <h2>No  Todos Found!</h2> </pre>
      </center>
      {% endif %}
    </section>
    <section>
      {% for todo in todos %}
      <form action="{% url 'delete' todo.id %}" method="POST">
        {% csrf_token %}
        <li>
          {{ todo.todo}} | {{todo.is_complete}}
          <input type="submit" value="delete" name="delete" />
          <input type="submit" value="mark as complete" name="complete" />
          <input type="submit" value="Update" name="update" />
        </li>
      </form>
      {% endfor %}
    </section>
    <section class="container-fluid">
      <form action="{% url 'index' %} " method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label class="col-form-label" for="inputDefault">Enter Todo</label>
          <input
            type="text"
            class="form-control w-25"
            placeholder="Enter Todo"
            id="todo"
            name="todo"
          />
        </div>
        <input type="submit" name="submit" value="submit" />
      </form>
    </section>
    {% endblock content %}
  </body>
</html>
